@model PortalEDU.Models.ViewModel.HomeVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Slider*@
<Header>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            @{int cont = 0;}
            @foreach (var item in Model.slider)
            {
                var itemDinamico = cont++ == 0 ? "item active" : "item";
                <div class="carousel-item @itemDinamico">
                    <img src="@Url.Content(item.UrlImagen)" />
                    <h1 class="text-dark text-center">@Html.Raw(item.Nombre)</h1>

                </div>
            }

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</Header>

@*Termina slider*@

@*Imagen de fondo entre slide y articulo*@

<div class="row fondoTitulo mt-5">
    <div class="col-sm-12 py-5">
        <h1 class="text-center text-white">Ultimos cursos y tutoriales</h1>
    </div>

</div>

@*Aqui inicia la creacion de los articulos*@

@*@if (Model.ListaArticulos.Count() > 0)
    {
        <hr />
        <div class="row">
           @foreach (var articulo in Model.ListaArticulos.OrderBy(o => o.Id))
           {
            <div class="col-4">
                <div class="card">
                    <img src="@articulo.UrlImagen" class="img-thumbnail" width="100%"/>


                    <div class="card-body">
                        <h5 class="text-center">@articulo.Nombre</h5>
                        <p>@articulo.FechaCreacion </p>
                        <a asp-action="Details" class="btn btn-success" style="border-radius:2px" asp-route-id="@articulo.Id">Más información</a>
                    </div>


                </div>

            </div>

           }

        </div>

    }
    else
    {
    <p> No exsiten articulos</p>
    }*@



@if (Model.ListaArticulos.Count() > 0)
{
    <hr />
    <div class="container h-100">
        <div class="row align-bottom">

            @foreach (var articulo in Model.ListaArticulos.OrderBy(o => o.Id))
            {
                <div class="col-md-6 col-lg-4 column">
                    <div class="card gr-1">

                        <div class="txt">
                            <img src="@articulo.UrlImagen" class="img-thumbnail" width="50%" />
                            <p>Visual communication and problem-solving</p>
                        </div>

                        <div class="card-body align-content-lg-stretch">
                            <h5 class="text-center">@articulo.Nombre</h5>
                            <p>@articulo.FechaCreacion </p>
                            <a asp-action="Details" asp-route-id="@articulo.Id">Más información</a>

                            <div class="ico-card">
                                <i class="fa fa-rebel"></i>
                            </div>
                        </div>
                    </div>


                </div>
            }
        </div>
        </div>
        }

        else

        {
        <p> No exsiten articulos</p>
        }


